{% extends 'accounts/accounts_base.html' %}

{# --- TITLE --- #}
{% block accounts_title %} - Forgot your password?{% endblock %}

{# --- CONTENT --- #}
{# --- メール認証を使用していない場合 --- #}
{% block accounts_content %}
<h1 class="f-content-title">Reset Password</h1>
<div class="card mt-4">
    <div class="card-body">
        <p class="card-text">Please provide your registered email address or username using the inquiry form to reset your password.</p>
        <p class="card-text">For administrators, please change the password for the applicant from the admin panel and inform the user.</p>
        <a class="btn btn-primary" role="button" href="{% url 'inquiry:inquiry_form' %}">Inquiry Form</a>
    </div>
</div>
{% endblock %}
